.logo {
  position: absolute;
  z-index: $z-logo;
  top: 11.5vh;

  @include image-replace;
  @include image-replace-src('../img/lg_imaginary_white.png', 3320px, 419px);
  background-size: contain;
  background-position: center top;
  width: 100%;
  height: 15vh;
  margin: 0 auto;
  transition-duration: $tr-open-info-len;
  transition-property: top, height;
}

.info-open {
  .logo {
    top: 6vh;
    height: 8vh;
  }
}

.app-open {
  .logo {
    top: -30vh;
  }
}