
.util-bar {
  position: absolute;
  z-index: $z-util-bar;
  bottom: 2vh;
  right: -9vw;
  width: 98vw;
  text-align: right;
  transition-duration: $tr-open-info-len;
  transition-property: right, bottom;

  .util-button {
    display: inline-block;
    margin-left: 1vw;
    transition-duration: $tr-open-info-len;
    transition-property: font-size, line-height;
  }

  [data-close-info-pane] {
    color: $color-yellow;
    transition: opacity 0.3s 0s, font-size $tr-open-info-len, line-height $tr-open-info-len;
    opacity: 0;
  }
}

.util-button {
  @include mediumHeading;
  padding: 1vh 1vw;
  color: $color-text-dim;
}

.info-button {
  left: 5vw;
}

.credits-button {
  right: 5vw;
}

.info-open {
  .util-bar {
    right: 2vw;

    [data-close-info-pane] {
      transition: opacity 0.3s $tr-open-info-len * 0.7, font-size $tr-open-info-len, line-height $tr-open-info-len;
      opacity: 1;
    }
  }
  .util-button {
    @include smallHeading;
  }
}

.app-open {
  .util-bar {
    bottom: -10vh;
  }
}