
.util-bar {
  position: absolute;
  z-index: $z-util-bar;
  bottom: 2vh;
  right: 1vw;
  width: 98vw;
  text-align: right;

  .util-button {
    display: inline-block;
  }
}

.util-button {
  padding: 1vh 1vw;
  color: $color-text-dim;
  font-size: 5vh;
  line-height: 5vh;
}

.util-button-close {
  position: absolute;
  left: 0;
  margin-top: 10vw;
  transition: margin-top 0.3s;
}

.info-button {
  left: 5vw;
}

.credits-button {
  right: 5vw;
}

.info-open {
  .util-bar {
    right: 2vw;
  }
  .util-button {
    @include smallHeading;
  }
}

.app-open {
  .util-bar {
    bottom: -10vh;
  }
}

.titlePane {
  position: absolute;
  top: 10vh;
  left: 25%;
  width: 50%;
  height: 5vh;
  font-size: 5vh;
  line-height: 5vh;
  text-align: center;
  transition: opacity 0.5s;
  opacity: 0;

  &.visible {
    top: 1vh;
    transition: top 0.5s 0.2s;
    opacity: 1;
  }
}