.logo {
  position: absolute;
  z-index: $z-logo;
  top: 11.5vh;
  left: 5%;

  @include image-replace;
  @include image-replace-src('../img/lg_imaginary_white.png', 3320px, 419px);
  background-size: contain;
  background-position: center top;
  width: 90%;
  height: 15vh;
  margin: 0 auto;
}

.info-open {
  .logo {
    top: 6vh;
    height: 8vh;
  }
}

.app-open {
  .logo {
    top: -30vh;
  }
}